// Fonts variables
$font-primary: "Koulen", sans-serif;
$font-secondary: "Signika Negative", sans-serif;

// Color variables
$color-display: #379683;
$color-input: #05386B;
$color-background: #EDF5E1;
