@use "./variables" as *;

// Mobile
.display {
    height: 35vh;

    &__top {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__options {
        background-color: $color-input-background;
        border-radius: 0.5rem;
        height: 1.5rem;
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    &__bottom {
        height: 87.5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 0.75rem;
        font-family: $font-primary;
        font-size: $font-large;
    }

    &__memory {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-size: $font-small;
    }

    &__current {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    &__color {
        color: $color-secondary;
    }
}