@use "./variables" as *;

//Mobile
.inputs {
    height: 62vh;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    background-color: $color-input-background;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: $font-secondary;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-primary;

        &--color-one {
            color: $color-secondary;
        }

        &--color-two {
            color: $color-third;
        }
    }

}