@use "./fonts";

// Font variables
$font-primary: "Koulen", sans-serif;
$font-secondary: "Signika Negative", sans-serif;

// Color variables
$color-background: white;
$color-primary: #282C36;
$color-secondary: #EB6565;
$color-third: #60F9DD;
$color-input-background: #F9F9F9;
$color-input-button: #F7F7F7;

