@use "./fonts";

// Font variables
$font-primary: "Signika Negative", sans-serif;
$font-secondary: "Koulen", sans-serif;
$font-large: 2.5rem;
$font-medium: 1.75rem;
$font-small: 1.25rem;

// Color variables
$color-background: white;
$color-primary: #282C36;
$color-secondary: #EB6565;
$color-third: #60F9DD;
$color-input-background: #F9F9F9;
$color-input-button: #F7F7F7;

// Dark Mode variables
$dark-background: #22252D;
$dark-primary: #FFFFFF;
$dark-secondary: #EB6565;
$dark-third: #60F9DD;
$dark-input-background: #292D36;
$dark-input-button: #272B33;

