// Fonts variables
$font-primary: "Koulen", sans-serif;
$font-secondary: "Signika Negative", sans-serif;

// Color variables
$color-background: #EDF5E1;
$color-primary: #05386B;
$color-secondary: #379683;
$color-third: #5CDB95;
$color-input-background: #8ee4af7c;

